select {
  margin: 20px 0 15px 40px;
  height: 30px;
  line-height: 30px;
  background-color: #eee;
}

.status {
  font-weight: 700;
  text-transform: uppercase;
}
.board-menu {
  position: absolute;
  right: 40px;
  top: 0px;
}

.board-header {
  margin-top: 20px;
}
.board-header > div {
  display: inline-block;
  margin-right: 20px;
}
.sprint-title {
  margin-left: 40px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.story-count {
  color: #7a869a;
  margin-left: 10px;
}
.sprint-dates {
  color: #7a869a;
  font-size: 12px;
  margin: 5px 0 5px 40px;
}
.divider {
  margin: 0 5px;
}

.avatar {
  border-radius: 50%;
}
.avatar-unassigned {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: content-box;
  cursor: inherit;
  pointer-events: auto;
  position: static;
  transform: translateZ(0px);
  outline: none;
  overflow: hidden;
  transition: background-color 0s ease-out 0s;
}
.avatar-unassigned circle {
  fill: rgb(193, 199, 208);
}
.avatar-unassigned g {
  fill: rgb(255, 255, 255);
}
.avatar-with-count {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-out 0s;
}
.avatar-with-count:hover {
  transform: translateY(-4px);
  opacity: 0.6;
}
.avatar-with-count img {
  padding: 2px;
}
.board-header .avatar-with-count img {
  width: 36px;
  height: 36px;
}
.avatar-with-count.selected img {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(0, 82, 204);
}
.avatar-with-count span {
  position: absolute;
  bottom: 0;
  right: -5px;
  font-weight: 700;
  font-size: 12px;
  color: white;
  background-color: #172b4d;
  display: inline-block;
  text-align: center;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border-radius: 50%;
}

.story {
  list-style-type: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #333;
  /*cursor: move;*/
  font-size: 14px;
  margin: 8px 8px;
  padding: 10px;
  position: relative;
  transition: background-color 140ms ease-in-out, border-color 75ms ease-in-out;
  max-width: 250px;
  width: 250px;
  box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
  display: grid;
  grid-template-rows: auto auto 25px;
}
.story:hover {
  /*background-color: #eee;*/
}
.story img.avatar {
  width: 36px;
  height: 36px;
}
.story-summary-section {
  max-width: 250px;
}
.summary {
  display: block;
  box-sizing: content-box;
  line-height: 1.42857143;
  max-height: 4.28571429em;
  overflow: hidden;
  margin-bottom: 5px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
}
.story-menu-toggle {
  position: absolute;
  right: 11px;
  top: -5px;
  z-index: 5;
  font-size: 24px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  color: rgba(9, 30, 66, 0.65);
  user-select: none;
}
.story-menu-toggle.open {
  transform: rotate(-90deg);
  transform-origin: 60% 60%;
}
.story-menu-toggle:hover {
  opacity: 1;
  color: black;
}
.story-menu {
  position: absolute;
  display: none;
  cursor: pointer;
  right: 1px;
  top: 32px;
  /*background-color: rgba(9, 30, 66, 0.65);*/
  background: white;
  text-align: right;
  z-index: 6;
  list-style: none;
  color: #202124;
  line-height: 20px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.story-menu li {
  padding-left: 20px !important;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-top: 6px;
}
.story-menu li:hover {
  background: #eee;
}
.story-menu.open {
  display: block;
}

.epic {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.epic-label {
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  background-color: white;
  color: #333; /*#42526e;*/
  font-size: 14px;
  line-height: 14px;
  font-weight: Normal;
}

.story section p {
  margin: 0 0 5px 0;
}

.avatars {
  margin: 15px 0 8px 0;
  align-self: end;
}
.story-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.issueid {
  color: #5e6c84;
  justify-self: start;
}
.priority {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  justify-self: center;
}
.storypoints {
  font-size: 14px;
  font-weight: 600;
  background-color: #dfe1e6;
  color: #172b4d;
  height: 25px;
  max-height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  justify-self: end;
}

.columns {
  display: grid;
  grid-template-columns: 288px auto 288px;
  grid-column-gap: 10px;
  padding: 0 20px;
}
.hide-todo.columns {
  grid-template-columns: 64px auto 288px;
}
.hide-todo .todo-column {
  max-width: 64px;
  overflow: hidden;
}
.todo-column,
.inprogress-column,
.done-column {
  list-style: none;
  background: #f4f5f7;
  max-width: 288px;
}
.inprogress-column {
  max-width: 100%;
}
.column-header {
  color: #5e6c84;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  padding: 12px;
  font-weight: bold;
}
.column-header .in-progress-title {
  width: 290px;
  display: inline-block;
}
.column-header-subtask-headings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  margin-right: 3px;
}
.column-header .todo {
  /*width: 385px;*/
  display: inline-block;
  color: #888;
}
.column-header .in-progress {
  /*width: 385px;*/
  display: inline-block;
}
.column-header .in-progress .blue {
  color: rgb(44, 99, 244);
}
.column-header .in-progress .red {
  color: rgb(234, 67, 53);
}
.column-header .done {
  display: inline-block;
  color: rgb(28, 168, 45);
}
.columns li ul {
  padding-left: 0;
}
.inprogress-column .column-header {
  background-color: rgb(222, 235, 255);
  color: rgb(7, 71, 166);

  display: grid;
  grid-template-columns: 288px auto;
  padding-right: 5px;
}
.done-column .column-header {
  background-color: rgb(227, 252, 239);
  color: rgb(0, 102, 68);
}
.todo-column .column-header {
  background-color: rgb(223, 225, 230);
  color: rgb(66, 82, 110);
}
.blocked {
  /*background-color: rgba(255, 222, 222, 1);*/
  background-color: rgb(255, 235, 235);
  /*color: rgb(166, 7, 7);*/
}
.column-header .collapse-button {
  font-family: Proxima Nova, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 36px;
  position: relative;
  top: -21px;
  float: right;
  user-select: none;
}
.column-header .collapse-button:hover {
  color: black;
  cursor: pointer;
}

.story-with-subtasks {
  display: grid;
  grid-template-columns: 288px auto;
  padding-right: 5px;
}
.story-with-subtasks .story {
  margin: 18px 8px;
}
.subtask-card {
  justify-self: start;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #333;
  cursor: move;
  font-size: 14px;
  margin: 0;
  padding: 8px 10px 8px 5px;
  width: 91%;
  box-shadow: 0 1px 2px 0 rgba(9, 30, 66, 0.25);
  transition: background-color 140ms ease-in-out, border-color 75ms ease-in-out;
  display: grid;
  grid-template-columns: 3px auto 30px;
}
.subtask-card-status {
  width: 4px;
}
.subtask-card-status.status-id-3 {
  background-color: rgb(66, 133, 244);
}
.subtask-card-status.status-id-10009 {
  background-color: rgb(52, 168, 83);
}
.subtask-card-status.status-id-10010 {
  background-color: #ccc;
}
.subtask-card-status.status-id-10909 {
  background-color: rgb(234, 67, 53);
}
.subtask-card.dim {
  opacity: 0.4;
}

.subtask-card p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 19px;
  max-height: 76px;
  padding-left: 7px;
}
.subtask-card img {
  justify-self: end;
  align-self: center;
  width: 24px;
  height: 24px;
}
.subtask-card:hover {
  background-color: #f0f0f0;
  opacity: 1;
}
.story-subtask-groups {
  display: grid;
  grid-template-columns: 1fr 25px 1fr 25px 1fr;
  grid-gap: 3px;
  margin-right: 3px;
}
.story-subtask-groups-separator {
  background-color: #f4f5f7;
  width: 25px;
}
.blocked .story-subtask-groups-separator {
  background-color: rgb(255, 235, 235);
}
.story-subtasks {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
  min-width: 361px;
  margin: 0;
  padding: 18px 0;
}

.subtask-modal-issue-id {
  color: rgb(107, 119, 140);
}
.subtask-modal h1 {
  font-size: 24px;
  font-weight: 500;
}
.subtask-modal-status-title {
  font-size: 0.85em;
  color: rgb(94, 108, 132);
  font-weight: 600;
  margin: 20px 0 5px 0;
  text-transform: uppercase;
  line-height: 12px;
}
.subtask-modal-status {
  color: rgb(255, 255, 255);
  background: rgb(0, 82, 204);
  height: 2.3em;
  line-height: 2.3em;
  border-radius: 3px;
  padding: 0 8px;
  width: 15%;
  font-size: 1em;
  vertical-align: middle;
}
.subtask-modal-summary {
  height: 40px;
  line-height: 40px;
  width: 90%;
  border-radius: 3px;
  font-size: 24px;
  border-style: none;
  padding: 0 8px;
  color: rgb(9, 30, 66);
}
.subtask-modal-save-button {
  background-color: rgb(0, 82, 204);
  color: white;
  border: none;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 8px;
  font-size: 20px;
  display: block;
  margin-top: 20px;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
}
.modal {
  background-color: white;
  display: inline-block;
  width: 65%;
  height: auto;
  z-index: 999;
  margin: 40px;
  padding: 30px;
  border-radius: 3px;
  min-width: 300px;
  min-height: 200px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px,
    rgba(9, 30, 66, 0.08) 0px 2px 1px, rgba(9, 30, 66, 0.31) 0px 0px 20px -6px;
  justify-self: center;
}
.closeButton {
  position: relative;
  top: -10px;
  float: right;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #999;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  z-index: 1000;
}
.closeButton:hover {
  color: #555;
}

.modal-root {
  position: relative;
  z-index: 999;
}

/*.color_0 {*/
/*border-color: #FFE380;*/
/*background-color: #FFE380;*/
/*}*/
.color_1 {
  border-color: #42526e;
  background-color: #42526e;
  color: white;
}
.color_2 {
  border-color: #ffc400;
  background-color: #ffc400;
}
.color_3 {
  border-color: #ffe380;
  background-color: #ffe380;
}
.color_4 {
  border-color: #4c9aff;
  background-color: #4c9aff;
}
.color_5 {
  border-color: #00c7e6;
  background-color: #00c7e6;
}
.color_6 {
  border-color: #79f2c0;
  background-color: #79f2c0;
}
.color_7 {
  border-color: #c0b6f2;
  background-color: #c0b6f2;
}
.color_8 {
  border-color: #998dd9;
  background-color: #998dd9;
}
.color_9 {
  border-color: #ffbdad;
  background-color: #ffbdad;
}
.color_10 {
  border-color: #b3d4ff;
  background-color: #b3d4ff;
}
.color_11 {
  border-color: #79e2f2;
  background-color: #79e2f2;
}
.color_12 {
  border-color: #ebecf0;
  background-color: #ebecf0;
}
.color_13 {
  border-color: #57d9a3;
  background-color: #57d9a3;
}
.color_14 {
  border-color: #ff8f73;
  background-color: #ff8f73;
}

.sk-circle {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*** Ellipsis Loader ***/
#stage {
  margin-left: 35px;
}
.loader {
  display: inline-block;
  position: relative;
}
.loader div {
  position: absolute;
}
.loader div:before,
.loader div:after {
  content: "";
  position: absolute;
}
.loader.dots {
  width: 48px;
  height: 16px;
}
.loader.dots div {
  top: -5px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-animation: growDot 1s linear 0.15s infinite;
  -moz-animation: growDot 1s linear 0.15s infinite;
  -ms-animation: growDot 1s linear 0.15s infinite;
  -o-animation: growDot 1s linear 0.15s infinite;
  animation: growDot 1s linear 0.15s infinite;
}
.loader.dots div:before {
  top: 0;
  left: -15px;
  width: 6px;
  height: 6px;
  background-color: black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-animation: growDot 1s linear 0s infinite;
  -moz-animation: growDot 1s linear 0s infinite;
  -ms-animation: growDot 1s linear 0s infinite;
  -o-animation: growDot 1s linear 0s infinite;
  animation: growDot 1s linear 0s infinite;
}
.loader.dots div:after {
  top: 0;
  left: 15px;
  width: 6px;
  height: 6px;
  background-color: black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-animation: growDot 1s linear 0.3s infinite;
  -moz-animation: growDot 1s linear 0.3s infinite;
  -ms-animation: growDot 1s linear 0.3s infinite;
  -o-animation: growDot 1s linear 0.3s infinite;
  animation: growDot 1s linear 0.3s infinite;
}
@-webkit-keyframes growDot {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
  }
  25% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-box-shadow: 0px 0px 0px 4px black;
    box-shadow: 0px 0px 0px 4px black;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
  }
}
@keyframes growDot {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
  }
  25% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-box-shadow: 0px 0px 0px 4px black;
    box-shadow: 0px 0px 0px 4px black;
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
    -webkit-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0px 0px 0px 0px black;
  }
}
