.status {
  font-weight: 700;
  text-transform: uppercase;
}

.in-progress {
  background-color: rgb(222, 235, 255);
  color: rgb(7, 71, 166);
}
.done {
  background-color: rgb(227, 252, 239);
  color: rgb(0, 102, 68);
}
.to-do {
  background-color: rgb(223, 225, 230);
  color: rgb(66, 82, 110);
}
.blocked {
  background-color: rgb(255, 222, 222);
  color: rgb(166, 7, 7);
}
.avatar {
  border-radius: 50%;
}
.avatar-with-count {
  display: inline;
}
.avatar-with-count span {
  position: relative;
  left: -10px;
  color: black;
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border-radius: 50%;
}